
.navbar-default {
	background-color: white;
}

.navbar-brand>img {
  height: 100%;
  
  width: auto;
}

.navbar-default .navbar-brand {
	color: white;
	font-weight: bold;
}
.navbar-default .navbar-nav >li >a {
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-nav >li >a:hover, .navbar-default .navbar-brand:hover {
    color: #eeeeee;
}

.portfolio-content .col-sm-3 {
	padding: 20px;
	height: 200px;
}



#main-container {
	height: 100vh;
	background-color: #a09f9f;
	width: 100%;
}

.my-container {
	padding-left: 200px;
	padding-right: 200px;
}

.btn-primary {
	background-color: #416bf4;
}

.btn-primary.active {
	background-color: #2d4aa8;
}

.title {
	font-size: 30px;
}

.subtitle {
	font-size: 20px;
	margin-top: -100px;
}

#challenge:hover {
	background-image: none
}

#creativity:hover {
	background-image: none;
}

.home-content-size {
	width: 100%;
	height: 100vh;
}

.project-image a {
	text-decoration: none;
	color: white;
}

#main-container > h1 {
	text-align: center;
	margin: 0;
	padding-top: 10vh;
	font-weight: bold;
	color: white;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 50px;
}

#main-container > h4 {
	text-align: center;
	margin-top: 20px;
	color: white;
}

body {
	padding-top: 50px;
}
 

.nested-list-container {
	padding-bottom: 50px;
	z-index: 1000;
}

.page-header h2{
	font-family: Helvetica;
	font-weight: bold;
	margin-bottom: 50px;

}

.page-header h3{
	font-family: Helvetica;
	font-weight: bold;
	
}

.navbar .navbar-right .active {
	background-color:#eeeeee;
	color: #333333;
}



.contact .col-sm-6 img {
	height: 50px;
	width: 50px;
	border: 3px white solid;
	margin-right: 25px;
}

.contact .col-sm-6 {
	margin-bottom: 50px;
	
}


/*.about-content {
	background-color: #03044B;
	color: white;
	overflow: hidden;
} */

.blue-background {
	/*background-color: #03044B; */
	background-color: #1A237E;
	color: white;
	overflow: hidden;
}

.white-background {
	color: #1A237E;
	
}



/*.portfolio-content  {
	color: #03044B;
}

.portfolio-content hr {
	border-color: #03044B;	
} */

/*.gallery-content {
	background-color: #03044B;
	color: white;
	overflow: hidden;

} */

.about-content .page-header img {
	width: 300px;
	height: 300px;	
}

.about-table {
	float: right;
	word-wrap: break-word;
	width: 100vh;
}

.about-table .col-sm-6 {
	
	padding: 5px;
}
.page-header {
	border-bottom: none;
	height: auto;
	overflow: hidden;
	padding-bottom: 20px;
	

}



.page-header h4 {
	text-align: center;
	font-style: italic;
}




/* .testimonials-content .page-header .col-sm-4 .review h4 {
	font-style: normal;
	padding: 10px;
	background-color: #a1a1a1;
	
} */



.anonymise-btn {
	color: white;
	border-radius: 30px;
	font-size: 15px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: bold;
	background-color: #416bf4;
	margin-top: 50px;

}


.page-header h2 {
	text-align: center;
}

#term-rewriter-image {
	background-image: url("../images/term-rewriter.png");
}

#cafe-image {
	background-image: url("../images/cafe.png"); 
}

#cost-tracker-image {
	background-image: url("../images/cost-tracker.png");
}

#inventory-image {
	background-image: url("../images/inventory.jpg");
}

.project-image {
	
	background-size: 100% 100%;
	color: white;
	line-height: 160px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;

		
}

.project-image span {
	display: none;
}

/*.project-image:hover .overlay {
	opacity: 1;
} */


/*#term-rewriter-image:hover {
	
	background-color: rgba(163, 11, 3, 0.9);
	background-image: none;
	

}

#cafe-image:hover {
	background-image: none;
	background-color: rgba(163, 11, 3, 0.9);
}

#cost-tracker-image:hover {
	background-image: none;
	background-color: rgba(163, 11, 3, 0.9);
}

#inventory-image:hover {
	background-image: none;
	background-color: rgba(163, 11, 3, 0.9);
} */



#cost-tracker-image:hover {
	background-color: rgba(163, 11, 3, 0.9);
	background-image: none;
	transition: background-color 1s ease;
}

#term-rewriter-image:hover {
	background-image: none;
	background-color: rgba(163, 11, 3, 0.9);
	transition: background-color 1s ease;
}

#inventory-image:hover {
	background-image: none;
	background-color: rgba(163, 11, 3, 0.9);
	transition: background-color 1s ease;
}

#cafe-image:hover {
	background-image: none;
	background-color: rgba(163, 11, 3, 0.9);
	transition: background-color 1s ease;
}

.project-image:hover span{
	display: block;
}



.more-options-button {
	padding-right: 10px;
	font-size: 30px;
	text-align: right;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	border-style: solid;
	
	margin-top: 20px;
	margin-right: 10px;
	
	text-decoration: none;
	
}

.more-options-button-left {
	float: left;
}

.more-options-button-right {
	float: right;
}
.more-options-button-white {
	color: white;
}

.more-options-button-blue {
	color: #1A237E;
}




.more-options-button-blue:hover {
	text-decoration: none;
	color: #1A237E;
}

.more-options-button-white:hover {
	text-decoration: none;
	color: white;
}

.nested-list {
	padding-left: 50%;
	background-color: #a1a1a1;
	color: white;
	margin: auto;
	width: 100%;
	position: fixed;

}
body {
	padding-bottom: 25px;
}
.nested-list li {
	display: inline-block;
	margin-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
	text-align: center;

}

.nested-list li a {
	color: white;
	font-weight: bold;
	font-size: 16px;
}

.nested-list li a:hover {
	text-decoration: none;
}

.nested-active {
	background-color: #333;
}


.testimonial {
	width: 100%;
	background-color: #a1a1a1;
	border-radius: 30px;
	padding: 20px 40px 20px 40px;
	margin-bottom: 30px;
}

.title-margin {
	margin-top: 100px;
}

.borderless	 {
	background-color: transparent;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 2px black solid;
	box-shadow: none;
	color: white;
	font-size: 20px;
}

.btn-group-justified {
	margin: 10px 100px 0px 100px;
	width: 80%;
}


input::-webkit-input-placeholder {
color: white !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: white !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: white !important;  
}
 
input:-ms-input-placeholder {  
color: white !important;  
}

.borderless:focus {
	box-shadow: none;
	border-color: #2d4aa8;
}
.testimonial h4 {
	text-align: left;
	font-style: normal;
	font-weight: bold;
}

.page-title {
	text-align: center;
	padding: 20px;
}